<!DOCTYPE html>
<html>
    <head>
        <title>{{ .title }}</title>
    </head>
    <style>
        body {
            background-color: rgb(82, 17, 135);
        }
        
        .container {
            padding: 10px;
            margin: 50px auto;
            width: 500px;
            height: 400px;
            background-color: white;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
            border-radius: 10px;
            box-shadow: 10px 20px 15px rgba(10,10,10,0.5) ;
        }
        
        </style>
    <body>
        <div class="container">
            <h1>{{ .title }}</h1>

            <img src="/assets/troll.png">
            <p>{{ .message }}</p>
        </div>
        
        
    </body>
</html>